@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@500;600&family=Oswald:wght@700&family=Raleway:wght@400;500;800&display=swap");
#player .player__wrapper .artist-name, #player .player__wrapper .track-title, #player .player__wrapper .player-text {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
}

.menu__list-link {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
}

.button {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.contact__title, #player .player__wrapper .timeline {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.footer, .text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #101010;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.menu {
  margin-right: 10px;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__list-item {
  margin-right: 30px;
}
.menu__list-link {
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.menu__list-link svg path {
  transition: all 0.1s ease-in;
}
.menu__list-link:hover {
  color: #FE6900;
}
.menu__list-link:hover svg path {
  fill: #FE6900;
}

.title {
  max-width: 600px;
  font-size: 72px;
  color: #FE6900;
  margin-bottom: 30px;
}

.text {
  max-width: 650px;
  width: 100%;
  font-size: 20px;
  color: #FFF;
  opacity: 70%;
  margin-bottom: 20px;
  line-height: 25px;
}

.button {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #FFF;
  background-color: #101010;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 11px 54px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s ease-in;
}
.button:hover {
  color: #FE6900;
  border: 3px solid #FE6900;
}
.button:active {
  color: #FE6900;
  opacity: 0.7;
  border: 3px solid #FE6900;
}

.album-date {
  font-style: italic;
  opacity: 70%;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  margin-bottom: -3px;
  transition: all 0.2s ease-in;
}
.header__logo:hover {
  opacity: 0.7;
}
.header__content {
  background-image: url("/images/bg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: calc(100vh - 80px);
}
.header__content-inner {
  padding-top: 15vh;
}
.header__text-inner {
  padding-bottom: 22px;
}

.menu {
  margin-right: 10px;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__list-item {
  margin-right: 30px;
}
.menu__list-link {
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.menu__list-link--active {
  color: #FE6900;
}
.menu__list-link svg path {
  transition: all 0.1s ease-in;
}
.menu__list-link:hover {
  color: #FE6900;
}
.menu__list-link:hover svg path {
  fill: #FE6900;
}

#player {
  background-color: #1E1E1E;
}
#player .player__wrapper {
  color: #FFF;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  position: relative;
}
#player .player__wrapper .music-btn {
  background: #101010;
  border: none;
  box-shadow: 0.3em 0.3em 0.8em #151618, -0.3em -0.3em 0.5em #33353b;
  color: #FE6900;
  width: 4em;
  height: 4em;
  border: 0.2em solid #FE6900;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s ease-in;
}
#player .player__wrapper .music-btn:hover {
  background: linear-gradient(60deg, #1e1f23, #2e3137);
  border: 0.2em solid orangered;
}
#player .player__wrapper .btn-main {
  background: #101010;
  width: 6em;
  height: 6em;
  color: #FFF;
}
#player .player__wrapper .btn-main:hover {
  background: linear-gradient(60deg, #1e1f23, #2e3137);
}
#player .player__wrapper .controls {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
#player .player__wrapper .controls .music-btn {
  margin: 1em;
}
#player .player__wrapper .player-text {
  font-size: 25px;
  color: #FFF;
  margin-right: 10px;
}
#player .player__wrapper .track-title {
  margin-right: 30px;
  font-size: 25px;
  color: #FFF;
}
#player .player__wrapper .artist-name {
  font-size: 25px;
}
#player .player__wrapper .timeline-slider {
  display: none;
  max-width: 30em;
  width: 100%;
}
#player .player__wrapper .timeline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#player .player__wrapper .range-slider {
  margin-top: 0.3em;
  position: relative;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
}
#player .player__wrapper .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.4em;
  outline: none;
  border-radius: 3px;
  background: #D9D9D9;
  cursor: pointer;
}
#player .player__wrapper .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.7em;
  height: 1.7em;
  z-index: 3;
  position: relative;
}
#player .player__wrapper .timeline-slider .slider-thumb {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #242424;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}
#player .player__wrapper .timeline-slider .slider-thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.8em;
  height: 0.8em;
  background: #333;
  border-radius: inherit;
  transition: 0.3s;
}
#player .player__wrapper .timeline-slider .range-slider:hover .slider-thumb::before {
  background-color: #e75709;
}
#player .player__wrapper .progress {
  width: 50%;
  height: 0.4em;
  border-radius: 3px;
  background: linear-gradient(90deg, #c72611, #e75709);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: none;
}
#player .player__wrapper .volume-slider {
  position: absolute;
  max-width: 16em;
  display: flex;
  align-items: center;
  right: 0;
}
#player .player__wrapper .volume-slider .slider::-webkit-slider-thumb {
  width: 0;
}
#player .player__wrapper .volume-icon {
  margin: 0 0.5em;
  cursor: pointer;
}
#player .player__wrapper .volume-icon span {
  font-size: 2em;
  padding-top: 0.2em;
}

.albums {
  min-height: calc(100vh - 80px);
  background-image: url("/images/bg-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 10vh;
}
.albums__wrapper {
  padding-top: 10vh;
}
.albums__wrapper .album {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.albums__wrapper .album__info {
  height: 100%;
}
.albums__wrapper .album__cover {
  height: 429px;
  width: 429px;
  margin-right: 56px;
  border: 1px solid #FE6900;
}
.albums__wrapper .album__info {
  margin-top: -30px;
}
.albums__wrapper .album__title {
  font-size: 40px;
  margin-bottom: 20px;
}
.albums__wrapper .album__desc {
  margin-bottom: 30px;
  opacity: 100%;
}
.albums__wrapper .album__desc-inner {
  padding-bottom: 10px;
}
.albums__wrapper .album__btn {
  margin-right: 15px;
}

.singles {
  background-image: url("/images/bg-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 10vh;
}
.singles__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  height: 100%;
}

.contact {
  background-image: url("/images/bg-blur.jpg");
  min-height: calc(100vh - 80px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 10vh;
  width: 100%;
}
.contact__wrapper {
  text-align: center;
}
.contact__title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 10px;
  padding: 60px 0 50px;
  border-bottom: 1px solid #D9D9D9;
}
.contact__item {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__subtitle {
  font-weight: 500;
  font-size: 50px;
  line-height: 107%;
}
.contact__text {
  opacity: 100%;
}
.contact__link {
  color: #FFF;
  text-decoration: none;
}

.footer {
  padding: 46px 0;
  text-align: center;
  font-size: 20px;
}
.footer__copy {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 700px) {
  .range-slider {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */