@import 'vars';
@import 'reset';
@import 'fonts';
@import 'global';




.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    position: relative;
    margin-bottom: -3px;
    transition: all .2s ease-in;
    &:hover {
      opacity: 0.7;
    }
  }
  &__content {
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: calc(100vh - 80px);
  }
  &__content-inner {
    padding-top: 15vh;
  }
  &__text-inner {
    padding-bottom: 22px;
  }
}

.open {
  display: flex !important;
}



.burger {
  display: none;
  position: relative;
  z-index: 10;
  align-items: center;
  width: 50px;
  height: 27px;
}

.burger span{
  height: 3px;
  width: 100%;
  border-radius: 20px;
  background-color: $accent;
}

.burger::before, .burger::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: $light-grey;
  border-radius: 20px;
  transition: all .3s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

#player {
  background-color: #1E1E1E;

  .player__wrapper {
    color: $text-white;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    position: relative;

    .music-btn {
      background: $bg-black;
      border: none;
      box-shadow: 0.3em 0.3em 0.8em#151618,
        -0.3em -0.3em 0.5em #33353b;
      color: $accent;
      width: 4em;
      height: 4em;
      border: 0.2em solid $accent;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 5px;
      transition: all .3s ease-in;
      &:hover {
        background: linear-gradient(60deg,
          #1e1f23,
          #2e3137);
        border: 0.2em solid orangered;
      }
    }
    
    .btn-main {
      background: $bg-black;
      width: 6em;
      height: 6em;
      color: $text-white;
      &:hover {
        background: linear-gradient(60deg,
          #1e1f23,
          #2e3137);
      }
    }
    
    .controls {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }
  
    .controls .music-btn {
      margin: 1em;
    }

    .player-text {
      @extend %Kodchasan-500;
      font-size: 25px;
      color: $text-white;
      margin-right: 10px;
    }
    .track-title {
      @extend %Kodchasan-500;
      margin-right: 30px;
      font-size: 25px;
      color: $text-white;
    }
    .artist-name {
      @extend %Kodchasan-500;
      font-size: 25px;
    }
    .timeline-slider {
      display: none;
      max-width: 30em; 
      width: 100%;
    }
    .timeline {
      display: flex;
      justify-content: space-between;
      @extend %Oswald-700;
      margin-bottom: 15px;

    }
    .range-slider {
      margin-top: 0.3em;
      position: relative;
      display: flex;
      user-select: none; 
      width: 100%;   
    }
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 0.4em;
      outline: none;
      border-radius: 3px;
      background: #D9D9D9;
      cursor: pointer;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1.7em;
      height: 1.7em;
      z-index: 3;
      position: relative;
    }
    .timeline-slider .slider-thumb {
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background: $grey;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 2;
    }
    .timeline-slider .slider-thumb::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.8em;
      height: 0.8em;
      background: #333;
      border-radius: inherit;
      transition: 0.3s;
    }
    .timeline-slider 
    .range-slider:hover
    .slider-thumb::before {
      background-color: #e75709;
    }
    .progress {
      width: 50%;
      height: 0.4em;
      border-radius: 3px;
      background: linear-gradient(90deg, #c72611, #e75709);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      pointer-events: none;
    }
    .volume-slider {
      position: absolute;
      max-width: 16em;
      display: flex;
      align-items: center;
      right: 0;
    }
    .volume-slider .slider::-webkit-slider-thumb {
      width: 0;
    }
    .volume-icon {
      margin: 0 0.5em;
      cursor: pointer;
    }
    .volume-icon span {
      font-size: 2em;
      padding-top: 0.2em;
    }
    
  }
}

.albums {
  min-height: calc(100vh - 80px);
  background-image: url('/images/bg-blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 10vh;
  &__wrapper {
    padding-top: 10vh;
    .album {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 80px;
      &__info {
        height: 100%;
      }
      &__cover {
        height: 429px;
        width: 429px;
        margin-right: 56px;
        border: 1px solid $accent;
      }
      &__info {
        margin-top: -30px;
      }
      &__title {
        font-size: 40px;
        margin-bottom: 20px;
      }
      &__desc {
        margin-bottom: 30px;
        opacity: 100%;
      }
      &__desc-inner {
        padding-bottom: 10px;
      }
      &__btn {
        margin-right: 15px;
      }
    }
  }
}

.singles {
    background-image: url('/images/bg-blur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 10vh;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    height: 100%;
  }
}

.contact {
  background-image: url('/images/bg-blur.jpg');
  min-height: calc(100vh - 80px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 10vh;
  width: 100%;
  &__wrapper {
    text-align: center;
  }
  &__title {
    @extend %Oswald-700;
    color: $text-white;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 10px;
    padding: 60px 0 50px;
    border-bottom: 1px solid $light-grey;
  }
  &__item {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $light-grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 50px;
    line-height: 107%;
  }
  &__text {
    opacity: 100%;
  }
  &__link {
    color: $text-white;
    text-decoration: none;
  }
}

.footer {
  padding: 46px 0;
  text-align: center;
  @extend %Raleway-400;
  font-size: 20px;
  &__copy {
    color: rgba(255, 255, 255, 0.7);
  }
}



@media (max-width: 1155px) {
  .albums {
    .album {
      margin-bottom: 100px;
      &__cover {
        margin: 0 30px 50px;
        width: 350px;
        height: 350px;
      }
      &__title {
        max-width: none;
      }
      &__info {
        max-width: 500px;
        width: 100%;
      }
      &__desc-inner {
        font-size: 18px;
      }
      .album-date {
        display: none;
      }
    }
  }

}



@media (max-width: 930px) {
  
  .header {
    position: relative;
    &__content {
      background-image: url('/images/mobile-bg.jpg');
      background-image: url('/images/mobile-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-left: 0;
    }
    &__content-inner {
       padding-top: 10vh;
    }
    &__text {
      max-width: 600px;
    }
    &__title {
      max-width: 400px;
      width: 100%;
      margin-bottom: 40px;
      font-size: 70px;
    }
    &__text-inner {
      width: 100%;
      font-size: 30px;
      line-height: 120%;
    }
    .button {
      display: block;
      width: 50%;
      text-align: center;
      padding: 25px 0;
      font-size: 25px;
      margin-bottom: 10vh;
    }
  }
  
  #player {
    .player__wrapper {
      justify-content: center;
      flex-direction: column;
    }
    .controls {
      margin-right: 0 !important;
    }
    .player__wrapper .volume-slider {
      display: none;
    }
    .player__wrapper .music-btn {
      height: 6.5em;
      width: 6.5em;
    }
    .player__wrapper .btn-main {
      height: 8em;
      width: 8em;
    }
    .player-text {
      display: none;
    }
    .track-title {
      margin: 25px 0 25px !important;
    }
  }

  .albums {
    .album {
      margin-bottom: 100px;
      padding: 0 20px;
      &__cover {
        margin-left: 0;
        width: 400px;
        height: 400px;
      }
      &__info {
        max-width: 930px;
        width: 100%;
      }
      &__desc-inner {
        font-size: 18px;
        width: 100%;
      }
    }
  }
}


@media (max-width: 768px) {

  .burger {
    display: flex;
    margin-right: 40px;
  }
  .header {
    &__top-inner {
      padding: 30px 0;
    }
    &__logo {
      z-index: 100;
    }
    &__content-inner {
      padding: 80px 30px;
    }
  }
  .menu {
    transition: all .3s;
    &__list {
      z-index: 10;
      display: none;
      flex-direction: column;
      text-align: center;
      position: fixed;
      left: 0;
      right: 0;
      padding: 200px 30px 15px;
      background: $bg-black;
      top: 0;
      bottom: 0;
      // opacity: 90%;
      overflow: auto;
      animation: burgerAnimation .3s
    }
    &__list-item {
      margin: 0 0 50px 0;
      padding: 40px 0;
      border: 1px solid $accent;
      width: 100%;
    }
    &__list-link {
      display: block;
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      letter-spacing: 5px;
      width: 100%;
    }
  }
}

@media (max-width: 625px) {
  .header {
    &__content {
      min-height: auto;
    }
    &__content-inner {
      padding: 80px 20px;
    }
    &__title {
      margin-bottom: 50px;
      font-size: 70px;
    }
    &__text {
      margin-bottom: 100px;
    }
    &__text-inner {
      max-width: 625px;
      width: 100%;
      font-size: 23px;
      line-height: 120%;
    }
    .button {
      width: 100%;
      border: 1px solid $accent;
      padding: 40px 0;
      margin-bottom: 40px;
    }
    .menu {
      &__list {
        padding: 150px 20px 15px 20px;
      }
      &__list-item {
        padding: 30px 0;
      }
    }
  }
}

@media (max-width: 540px) {
  .header {
    &__title {
      font-size: 50px;
    }
    &__text {
      margin-bottom: 40px;
    }
    .button {
      padding: 20px 0;
    }
  }
  .albums {
    &__wrapper {
      padding-top: 40px;
    }
    .album {
      &__cover {
        width: 300px;
        height: 300px;
      }
      &__info {
        max-width: 540px;
        width: 100%;
      }
      &__btn {
        margin-right: 0;
      }
      .button {
        display: block;
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding: 28px 54px;
        border: 1px solid $accent;
      }
    }
  }
}

@media (max-width: 390px) {
  .header {
    &__title {
      font-size: 40px;
    }
    &__text-inner {
      font-size: 20px;
    }
  }
  #player 
  .player__wrapper .music-btn {
    height: 5em;
    width: 5em;
  }
  #player .player__wrapper .btn-main {
    height: 6em;
    width: 6em;
  }

  .albums {
    .album {
      &__cover {
        width: 200px;
        height: 200px;
      }

      &__info {
        max-width: 540px;
        width: 100%;
      }

      &__btn {
        margin-right: 0;
      }

      .button {
        font-size: 25px;
        line-height: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding: 20px 0 18px;
        border: 1px solid $accent;
      }
    }
  }
}
  

@keyframes burgerAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}