@import 'vars';
@import 'reset';
@import 'fonts';
@import 'global';


.header {
  &__top {
    background-color: $grey;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    position: relative;
    margin-bottom: -3px;
    transition: all .2s ease-in;
    &:hover {
      opacity: 0.7;
    }
  }
  &__content {
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 80px);
  }
  &__content-inner {
    padding-top: 112px;
    padding-left: 120px;
  }
  &__title {
    @extend %Raleway-800;
    max-width: 600px; 
    font-size: 72px;
    color: $accent;
    margin-bottom: 30px;
  }
  &__text {
    @extend %Raleway-400;
    max-width: 650px; 
    width: 100%;
    font-size: 20px;
    color: $text-white;
    opacity: 70%;
    margin-bottom: 10px;
    line-height: 25px;
  }
  &__text-inner {
    padding-bottom: 22px;
  }
}


.menu {
  margin-right: 10px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__list-item {
    margin-right: 30px;
  }
  &__list-link {
    @extend %Kodchasan-600;
    color: $text-white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all .2s ease-in;
    svg {
      path {
        transition: all 0.1s ease-in;
      }
    }
    &:hover {
      color: $accent;
      svg {
        path {
          fill: $accent;
        }
      }
    }
  }
}

.player {
  background-color: $grey;
  
  &__wrapper {
    color: $text-white;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .cover {
      border: 0.8em solid #171a1d;
      border-radius: 50%;
      box-shadow: 0.8em 0.8em 1.8em #151618,
      -0.8em -0.8em 1em #33353b;
    }
    .track-title {
      margin: 1em 0 0.5em 0;
      @extend %Kodchasan-500;
      font-size: 35px;
      color: $text-white;
    }
    .artist-name {
      @extend %Kodchasan-500;
      font-size: 25px;
    }
    .timeline-slider {
      margin: 2em auto;
      max-width: 30em; 
      width: 100%;
    }
    .timeline {
      display: flex;
      justify-content: space-between;
    }
    .range-slider {
      margin-top: 0.4em;
      position: relative;
      display: flex;
      user-select: none; 
      width: 100%;   
    }
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 0.4em;
      outline: none;
      border-radius: 3px;
      background: #1f1f1f;
      box-shadow: inset 3px 3px 6px #000,
      1px 1px 1px #909090;
      cursor: pointer;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1.7em;
      height: 1.7em;
      z-index: 3;
      position: relative;
    }
    .timeline-slider .slider-thumb {
      position: absolute;
      width: 1.7em;
      height: 1.7em;
      border-radius: 50%;
      background: #111;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 2;
    }
    .timeline-slider .slider-thumb::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.7em;
      height: 0.7em;
      background: #333;
      border-radius: inherit;
      transition: 0.3s;
    }
    .timeline-slider 
    .range-slider:hover
    .slider-thumb::before {
      background-color: #e75709;
    }
    .progress {
      width: 50%;
      height: 0.4em;
      border-radius: 3px;
      background: linear-gradient(90deg, #c72611, #e75709);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      pointer-events: none;
    }
    .volume-slider {
      max-width: 16em;
      margin: 1em auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .volume-slider .slider::-webkit-slider-thumb {
      width: 0;
    }
    .volume-icon {
      margin: 0 0.5em;
      cursor: pointer;
    }
    .volume-icon span {
      font-size: 2em;
      padding-top: 0.2em;
    }
    .music-btn {
      background: linear-gradient(
        -60deg,
        #1e1f23,
        #2e3137
      );
      border: none;
      box-shadow: 0.3em 0.3em 0.8em #151618,
      -0.3em -0.3em 0.5em #33353b;
      color: $accent;
      width: 4em;
      height: 4em;
      border: 0.2em solid $accent;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 5px;
      transition: all .3s ease-in;
      &:hover {
        background: linear-gradient(
        60deg,
        #1e1f23,
        #2e3137
        );
        border: 0.2em solid orangered;
      }
    }
    .btn-main {
      background: linear-gradient(
        -60deg,
        #c72611,
        #e75709
      );
      width: 4.5em;
      height: 4.5em;
      color: $text-white;
      &:hover {
        background: linear-gradient(
          60deg,
          #c72611,
          #e75709
        );
      }
    }
    .controls .music-btn {
      margin: 1em;
    }
  }
}

.footer {
  padding: 46px 0;
  text-align: center;
  @extend %Raleway-400;
  font-size: 20px;
  &__copy {
    color: rgba(255, 255, 255, 0.7);
  }
}







@media screen and (max-width: 700px) {
  .range-slider {
    width: 100%;
  }
}

